<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <style>
        table {
            width: 100%;
            border: 1px solid #444444;
            border-collapse: collapse;
        }
        th, td {
            border-bottom: 1px solid #444444;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>~글목록~</h1>
<!--<a href="/insert">➡️글작성</a>-->
<button type="button" th:onclick="|location.href='@{/insert}'|">➡️글작성</button>
<button type="button" th:onclick="|location.href='@{/}'|">메인으로</button>
<table>
    <tr>
        <th scope="col">NO</th>
        <th scope="col">제목</th>
        <th scope="col">내용</th>
        <th scope="col">작성자</th>
        <th scope="col">작성일자</th>
    </tr>
    <tr th:each="notice : ${noticeList}">
        <td th:text="${notice.no}"></td>
        <td>
            <a th:text="${notice.title}" th:href="@{${notice.no}}"></a>
        </td>
        <td th:text="${notice.content}"></td>
        <td th:text="${notice.user}"></td>
        <td th:text="${notice.date}"></td>
    </tr>
</table>
</body>
</html>