<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Notice">
    <insert id="insert" parameterType="notice">
        insert into notice(title, content, user, date)
        values (#{title}, #{content}, #{user}, current_timestamp)
    </insert>
    <select id="noticeFullList" resultType="notice">
        select no, title, content, user, date
            from notice
            order by no desc
    </select>
    <select id="detailView" resultType="notice">
        select no, title, content, user, date
            from notice
            where no=#{no}
    </select>
    <delete id="delete" parameterType="int">
        delete from notice
        where no=#{no}
    </delete>
    <update id="update" parameterType="notice">
        update notice
        set title=#{title}, content=#{content}
        where no=#{no}
    </update>
</mapper>