<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Notice">
    <insert id="insert" parameterType="notice">
        insert into notice(title, content, user, date)
        values (#{title}, #{content}, #{user}, current_timestamp)
    </insert>
</mapper>